# origen compilado #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
# Es mejor no subirlos. Git se encarga de eso
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip


#Archivos generados por SO #
######################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

#Archivos por Ignorar
Proyecto/conecta.php
.vscode/settings.json
Proyecto/connect.php
Proyeto/pages/adm/conecta.php
Proyeto/pages/camiones/conecta.php
Proyeto/pages/guias/conecta.php
Proyeto/pages/pago/conecta.php
Proyeto/pages/petroleo/conecta.php
Proyeto/pages/produccion/conecta.php
Proyeto/pages/trabajadores/conecta.php